/* Member.css */

.member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .member-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .member-card h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .member-card p {
    font-size: 14px;
    color: #444;
    text-align: center;
  }

  .members-container {
    text-align: center;
  }
  
  .members-title {
    margin-top: 20px;
  }
  
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
  }

  .page-title {
    margin: 0;
    padding-top: 20px; /* Add padding at the top if needed */
    font-size: 2em; /* Example font size, adjust as needed */
  }
  
